button.buttonCustom {
    padding: 10px 24px;
    border: 0;
    outline: none !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #4ec372;
    border-radius: 14px;
    transition: 0.3s ease all;
    width: 250px;
}

button.buttonCustom:hover {
    background-color: #4ec372;
    box-shadow: 0 1px 2px #82e49f, 0 4px 4px #82e49f;
    transform: translateY(-2px);
}
